/* ==========================================================================
   generic colors

basegray 323232
logo green #70b52e
logo gray #575756

background
yellow fff271
red e84436


bleu fond: 69aabd;
*/

/* ==========================================================================
   Base styles: opinionated defaults
*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
*/

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Xa's  styles
*/

.texvert {
  color:  #70b52e;
}

.container-fluid {
     padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: 0;
     margin-left: 0;
}

section {
    text-align: center;
    padding:4em 4em;
    margin-bottom: 2em;

}

#entete {
  /*background-color: #555;*/
  font-size: 1.3em;
/*  color:white;*/
}

.blinkred {
  animation: blinker 4s ease infinite;
}

@keyframes blinker {  
  40% { color: #70b52e; }

  90% { color: #e84436; }
 

}

@-webkit-keyframes blinker { 
  40% { color: #70b52e; }

  90% { color: #e84436; }
 
 
}


#accueil {
    background: url(../img/headerMod.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;

    text-align: center;
    position: relative;
}

    .titre {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        vertical-align: middle;
    }

    .logo {
      -webkit-filter: contrast(1.8);
      filter: contrast(1.8);

      -webkit-filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.9));
      filter: drop-shadow(16px 16px 4px rgba(0,0,0,0.9));

    }

#enjeu {

}

#contenu{
    background-color: #69aabd; 
 
    text-align: center;
    position: relative;
    color:black;

}

#contenu img {
        text-shadow:2px 2px 8px #555;

}

#utilisation{

}
#impact{
  background-color: #70b52e;
   background: url(../img/headerMod.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    position: relative;
    color:black;
    text-shadow:2px 2px 8px #555;
    text-decoration: bold;

    overflow: hidden;
}



  #impact .csq{
    margin-top: 3em;

  }
  #impact .csq h3{
    /*opacity: 0;*/

  }

  #impact .csq h3:hover{
    opacity: 1;

  }

  #impact .csq:hover{

/*  overflow: hidden;
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;

  -webkit-transform: scale(1.3);
  transform: scale(1.4);


  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;*/

/*  background-color: rgba(9,9,9,0.1);
  border-radius: 100%;*/
  }



#equipe{

}

#contact{

}

.profile {

}

.profile:hover {
  background: #EEE;
  border-radius: 30%;

}
    
    .profile img {
        border-radius: 40%;
        border
    }
    .profile h4 {

    }
    .profile h5 {
        font-style: italic;
    }


footer {
    background-color: #323232;
    padding: 2em 2em;
    text-align: center;
}

  .logofin {

  /*margin:auto;*/
  }

  .coda {
  text-align : center;
  background-color: #e84436;
  color:white;
  padding: 1em;
  }

  .coda .badge{
  }




/* ==========================================================================
   Light Style
*/
 .block {
    width: 100%;
/*    background-color: gray;
*/}
.hovicon {
    display: inline-block;
    font-size: 45px;
    line-height: 90px;
    cursor: pointer;
    margin: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;

}

.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    opacity: 1;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.hovicon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;

    display: block;
    -webkit-font-smoothing: antialiased;
}

/*  PLANE */ 
.hovicon.effect-plane {

}
.hovicon.effect-plane:after {

}
.hovicon.effect-plane:before {
  font-family: 'Glyphicons Halflings';
  content: "\e135"; /*globle*/
  color: #70b52e;


}
.hovicon.effect-plane:hover {

  animation:animationFrames .5s;

}
@keyframes animationFrames{
  0% {
  
    transform:  translate(-9px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    transform:  translate(5px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    transform:  translate(0px,0px)  skewX(-15deg);
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {

    -moz-transform:  translate(-9px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    -moz-transform:  translate(5px,0px)  skewX(30deg);
  }
  80% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  skewX(0deg);
  }
}

@-webkit-keyframes animationFrames {
  0% {

    -webkit-transform:  translate(-9px,0px)  skewX(-30deg);
  }
  60% {
    opacity:1;
    -webkit-transform:  translate(5px,0px)  skewX(30deg);
  }
  80% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {

    -o-transform:  translate(-9px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    -o-transform:  translate(5px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    -o-transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  skewX(0deg) ;
  }
}




.hovicon.effect-plane:hover:before {
  font-family: 'Glyphicons Halflings';
  content: "\e108";
  color: #e84436;
-webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.hovicon.effect-plane:hover:after {




}

/* MAIL */
.hovicon.effect-mail {

}
.hovicon.effect-mail:after {

}
.hovicon.effect-mail:before {
  font-family: 'Glyphicons Halflings';
  content: "\2709";
  color:#575756;
}


.hovicon.effect-mail:hover {

  animation: bounce 1s;
}

.hovicon.effect-mail:hover:before {
  font-family: 'Glyphicons Halflings';
  content: "\2601";
  color:black;
}

.hovicon.effect-mail:hover:after {
  
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* Recherche*/

.hovicon.effect-recherche {


    color: #0047F1;

    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}
.hovicon.effect-recherche:after {

}
.hovicon.effect-recherche:before {
  font-family: 'Glyphicons Halflings';
  content: "\e003";

}

.hovicon.effect-recherche:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #F9A600;
/*    border: 4px ;
*/}

.hovicon.effect-recherche:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.8;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff271, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff271, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.8;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff271, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff271, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.8;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff271, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff271, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

/* ==========================================================================
   Helper classes
*/

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.

*/

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
